# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env

# ML models / large files
*.pth
*.pt
*.ckpt
*.h5
*.keras

# Data
data/
datasets/